<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Shortcut Icon" type="image/x-icon" href="favicon.ico" />
    <title>新春開運！詩嫚特保養推薦</title>
    <link rel="stylesheet" href="{% static 'css/reference/bootstrap_v4.3.1.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-expand-md">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav-item" id="ousidegoTop">
            <a class="nav-link" href="#section_1">︿<br>TOP</a>
        </div>
        <button type="button" class="slide-toggle">快速收合</button>
        <div class="toggleBlock">
            <div class="navbar-mainImg">
                <img src="{% static 'images/navbar_main.png' %}" alt="">
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#fullGift">滿額贈</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section_2">開運保養推薦</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section_3">年後甩油大作戰</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section_4">初春花語</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section_5">情人秘密</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="goindex" href="https://www.smarter.com.tw/" target="_blank">官方商城</a>
                    </li>
                    <li class="nav-item" id="goTop">
                        <a class="nav-link" href="#section_1">▲ TOP</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="section_1" id="section_1">
        <div class="row">
            <div class="main_title col-lg-6 col-md-6 col-sm-6">

                <img class="main_title_text" src="{% static 'images/section_1_title_1.png' %}" alt="">
            </div>

            <div class="main_title col-lg-6 col-md-6 col-sm-6">
                <img class="main_title_gift" src="{% static 'images/section_1_gift.png' %}" alt="">
            </div>
            <img src="{% static 'images/logo.png' %}" alt="" class="logo">
        </div>
        <div class="row products" id="fullGift">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img src="{% static 'images/section_1_1.png' %}" alt="下單贈品">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img src="{% static 'images/section_1_2.png' %}" alt="滿$2000贈品">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img src="{% static 'images/section_1_3.png' %}" alt="滿$3000贈品">
            </div>
        </div>
        <div class="row">
            <h5 class="col-lg-12 col-md-12 col-sm-12">贈品以實物為準，不得以任何理由要求更換。數量有限，贈完以等值商品替代。</h5>
        </div>

    </section>
    <section class="section_2" id="section_2">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <img class="title" src="{% static 'images/section_2_title.png' %}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="https://www.smarter.com.tw/product?saleid=2101220001" target="_blank">
                    <img class="product" src="{% static 'images/section_2_1.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="https://www.smarter.com.tw/product?saleid=AB0024" target="_blank">
                    <img class="product" src="{% static 'images/section_2_2.png' %}" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="https://www.smarter.com.tw/product?saleid=2009300001" target="_blank">
                    <img class="product" src="{% static 'images/section_2_3.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="https://www.smarter.com.tw/product?saleid=2012250001" target="_blank">
                    <img class="product" src="{% static 'images/section_2_4.png' %}" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="https://www.smarter.com.tw/product?saleid=2011170003" target="_blank">
                    <img class="product" src="{% static 'images/section_2_5.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="https://www.smarter.com.tw/product?saleid=2008030001" target="_blank">
                    <img class="product" src="{% static 'images/section_2_6.png' %}" alt="">
                </a>
            </div>
        </div>

    </section>
    <section class="section_3" id="section_3">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <img class="title" src="{% static 'images/section_3_title.png' %}" alt="">
            </div>
        </div>
        <div class="row reverse">
            <div class="col-lg-6 col-md-6 col-sm-6 productItem_text">
                <img class="itembg" src="{% static 'images/section_2_itembg.png' %}" alt="">
                <a href="https://www.smarter.com.tw/product?saleid=2003270001" target="_blank">
                    <img class="productDetail" src="{% static 'images/section_3_1_1.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 productItem">
                <img class="product" src="{% static 'images/section_3_1.png' %}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 productItem_text">
                <img class="itembg" src="{% static 'images/section_2_itembg.png' %}" alt="">
                <a href="https://www.smarter.com.tw/product?saleid=2010220004" target="_blank">
                    <img class="productDetail" src="{% static 'images/section_3_2_1.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 productItem">
                <img class="product" src="{% static 'images/section_3_2.png' %}" alt="">
            </div>
        </div>
        <div class="row reverse">
            <div class="col-lg-6 col-md-6 col-sm-6 productItem_text">
                <img class="itembg" src="{% static 'images/section_2_itembg.png' %}" alt="">
                <a href="https://www.smarter.com.tw/product?saleid=2009150001" target="_blank">
                    <img class="productDetail" src="{% static 'images/section_3_3_1.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 productItem">
                <img class="product" src="{% static 'images/section_3_3.png' %}" alt="">
            </div>
        </div>
    </section>
    <section class="section_4" id="section_4">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <img class="title" src="{% static 'images/section_4_title.jpg' %}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="product" src="{% static 'images/section_4_1.png' %}" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="https://www.smarter.com.tw/product?saleid=2005290001" target="_blank">
                    <img class="productDetail" src="{% static 'images/section_4_1_1.png' %}" alt="">
                </a>
            </div>
        </div>
        <div class="row reverse">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="product" src="{% static 'images/section_4_2.png' %}" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="https://www.smarter.com.tw/product?saleid=2005290002" target="_blank">
                    <img class="productDetail" src="{% static 'images/section_4_2_1.png' %}" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="product" src="{% static 'images/section_4_3.png' %}" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="https://www.smarter.com.tw/product?saleid=AD0041" target="_blank">
                    <img class="productDetail" src="{% static 'images/section_4_3_1.png' %}" alt="">
                </a>
            </div>
        </div>
        <div class="row reverse">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="product" src="{% static 'images/section_4_4.png' %}" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="https://www.smarter.com.tw/product?saleid=2101280001" target="_blank">
                    <img class="productDetail" src="{% static 'images/section_4_4_1.png' %}" alt="">
                </a>
            </div>
        </div>
    </section>
    <section class="section_5" id="section_5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <img class="title" src="{% static 'images/section_5_title.jpg' %}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="product" src="{% static 'images/section_5_1.png' %}" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="https://www.smarter.com.tw/product?saleid=2006150001" target="_blank">
                    <img class="productDetail" src="{% static 'images/section_5_1_1.png' %}" alt="">
                </a>
            </div>
        </div>
        <div class="row reverse">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="product" src="{% static 'images/section_5_2.png' %}" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="https://www.smarter.com.tw/product?saleid=2101180001" target="_blank">
                    <img class="productDetail" src="{% static 'images/section_5_2_1.png' %}" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="product" src="{% static 'images/section_5_3.png' %}" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="https://www.smarter.com.tw/product?saleid=2005190003" target="_blank">
                    <img class="productDetail" src="{% static 'images/section_5_3_1.png' %}" alt="">
                </a>
            </div>
        </div>
        <div class="row reverse">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="product" src="{% static 'images/section_5_4.png' %}" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="https://www.smarter.com.tw/product?saleid=CA0191" target="_blank">
                    <img class="productDetail" src="{% static 'images/section_5_4_1.png' %}" alt="">
                </a>
            </div>
        </div>
    </section>
    <section class="section_6" id="section_6">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <img src="{% static 'images/section_6.jpg' %}" alt="">
            </div>
        </div>
        <div class="row links" id="shop">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="https://www.smarter.com.tw/productlist?item1=2&item2=2C&producttype=02" target="_blank">
                    SPA級產品
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="https://www.smarter.com.tw/productlist?item1=2&item2=2A&producttype=02" target="_blank">
                    臉部產品
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="https://www.smarter.com.tw/productlist?item1=2&item2=2D&producttype=02" target="_blank">
                    頭髮護理
                </a>
            </div>
        </div>
        <div class="row links">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="https://www.smarter.com.tw/productlist?item1=2&item2=2B&producttype=02" target="_blank">
                    身體護理
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="https://www.smarter.com.tw/productlist?item1=2&item2=2E&producttype=02" target="_blank">
                    食品
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="https://www.smarter.com.tw/productlist?item1=2&item2=2F&producttype=02" target="_blank">
                    醫美保養
                </a>
            </div>
        </div>
        <div class="texts">
            <h5>優惠商品數量有限，售完為止。</h5>
            <h5>本活動頁商品規格、顏色、價位、贈品如與網站購物車不符，依購物車標示為主。</h5>
        </div>
    </section>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
<style type="text/css">
    .section_2 {
      background-image: url({% static 'images/section_2_bg.png' %});
    }
    .section_4 {
      background-image: url({% static 'images/section_4_bg.png' %});
    }
    .section_5 {
      background-image: url({% static 'images/section_5_bg.png' %});
    }
    .navbar .navbar-toggler-icon {
        background-image: url({% static 'images/menuicon.png' %});
      }
</style>
</html>